* {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
}
h1 {
  font-weight: bold;
  font-size: 36px;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e9edee;
}

.logo {
  background-color: #222f3f;
  padding: 20px;
}
.logo img {
  width: 150px;
  margin-left: 10px;
}
main {
  text-align: center;
}

ul {
  background-color: #364759;
}
li {
  display: inline-block;
  margin-right: 8px;
  color: white;
  font-size: 18px;
  margin-left: 30px;
}
.orange {
  text-align: center;
  font-size: 18px;
  background-color: #f56600;
  margin: 30px;
  padding: 10px;
}
.orange p {
  color: white;
}
.holiday-gift-guides {
  background-image: url(../images/bg-image.png);
  background-size: 80%;
  background-repeat: repeat;
  padding: 60px;
  margin: 30px;
  text-align: center;
  background-position: center;
}
.holiday-gift-guidesh1 {
  margin-bottom: 20px;
  color: white;
}
.gift-guides p {
  color: white;
  font-size: 21px;
}

.shop-now {
  color: #135668;
}
.cards-box {
  background-color: white;
  margin: 20px;
}
.cards-box img {
  max-width: 22%;
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin-inline: auto;
  margin: 1%;
}
.img-card {
  box-shadow: 39px 18px 64px 55px rgba(0, 0, 0, 0.1);
}

.p-cards {
  text-align: left;
  margin-left: 20px;
}
.visor-img {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.headphone-img {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.link {
  color: #135668;
}
.back-tt {
  background-color: #364759;
  text-align: center;
  margin-top: 20px;
  padding: 17px;
}
.back-text {
  color: white;
}
footer {
  background-color: #222f3f;
  text-align: center;
}
.footer-logo {
  width: 250px;
  text-align: center;
  margin: 40px;
}
